:root {
	--pattern-border-radius: 10px;
  }

*{
    margin: 0;
    padding: 0;
}

.container-slide{
    display: flex;
    width: 50vw;
    height: 50vh;
    background-color: black;
    margin: 20vh auto;
    border-radius: 12px;
    box-shadow: 0 6px 22px black;
    justify-content: space-between;
    
}

.container-items {
    position: absolute;
    display: flex;
    width: 50vw;
    height: 50vh;
    border-radius: 8;
}
.item{
    width: 50vw;
    height: 50vh;
    transition: all .5s;
}

.item:first-child{
    margin-left: -100%
}

.item img{
    width: 50vw;
    height: 50vh;
    border-radius: 7px;
}

.action-button{
    font: bold 30px sans-serif;
    z-index: 1;
    display: flex;
    width: 38px;
    justify-content: center;
    align-items: center;
    color: #00000000;
    user-select: none;
}

.action-button:hover{
    color: white;
    background-color: #0000006b;
    border-radius: 7px;
    cursor: pointer;
    transition: .7s;
}